.hero-wrapper {
  margin-top: 120px;
  max-inline-size: 1280px;
  margin-inline: auto;
}

.hero-two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.hero-text {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.0625em;
  line-height: 1.7;
}
.hero-text h1 {
  color: #ff0000;
  align-self: flex-start;
  font-size: 40px;
}

.hero-text p {
  margin-bottom: 20px;
}

.hero-btn {
  align-self: flex-start;
  margin-top: 50px;
  font-size: 1rem;
  background-image: linear-gradient(to top, #f77062 0%, #fe5151 100%);
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.hero-btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #e77d04;
  transition: all 0.35s;
  border-radius: 4px;
}
.daha-fazla {
  z-index: 2;
  color: #fff;
  position: relative;
}

.hero-btn:hover {
  color: #ffffff;
}

.hero-btn:hover:after {
  width: 100%;
}
.hero-img {
  border-radius: 20px;
  width: 100%;
  height: auto;
  
}

@media (max-width: 1285px) {
  .hero-two-column {
    gap: 0px;
  }
  .hero-wrapper {
    padding: 50px;
  }
  .hero-text {
    line-height: 1.2;
  }

  .hero-text h1 {
    font-size: 35px;
  }
  .hero-img{
    max-width: 600px;
  }
}

@media (max-width: 920px) {
  .hero-text {
    line-height: 1.1;
  }
  .hero-text h1 {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .hero-two-column {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 20px;
  }
  .hero-text h1 {
  color: #ff0000;
  align-self: center ;
  font-size: 30px;
}
.hero-btn{
    align-self: center;
}
}

@media (max-width: 500px) {
    .hero-wrapper{
        padding: 20px;
        margin-top: 60px;
    }
    .hero-btn{
        padding: 12px 28px;
    }

    .hero-text{
     font-size: 15px;
    }
}
