.info-wrapper {
  margin-top: 120px;
  max-inline-size: 1600px;
  margin-inline: auto;
}
.info-rows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.info-title {
  font-size: 30px;
  margin-bottom: 90px;
}
.info-img {
  max-height: 530px;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 50px;
  border-radius: 20px;
}

.info-text {
  line-height: 1.8;
  letter-spacing: 0.0725em;
}

@media (max-width: 768px) {
  .info-title {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .info-img {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .info-title {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .info-text {
    line-height: 1.2;
    letter-spacing:0.0625em;
    font-size: 15px;
  }
}
