/* a, a:visited {
  color: inherit;
  text-decoration: none;
}
.navbar{
    max-width: 1280px;
    margin: auto;
    
}
.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.navbar .logo{
    width: 200px;
    height: 100px;
}
.navbar .largerList{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}
.nav-link{
    margin-left: 8px;
    margin-right: 8px;
    transition: transform .2s;
}
.active-link{
    color: red !important;
    font-weight: bold;
}
.decoration-none{
    text-decoration: none !important;
}
.nav-link:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.nav-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 20px;
}
.bar {
  width: 25px;
  height: 3px;
  background-color: rgb(236, 14, 14);
  margin: 4px 0;
  transition: 0.3s;
}
@media (max-width: 768px) {
    .largerList{
        display: none
    }
    .not-open{
        display: none !important;
    }
    .open {
    padding: 0 !important;
    position: absolute !important;
    top: 10%;
    width: 100% !important;
    flex-direction: column !important;
    text-align: center !important;
    justify-content: center !important;
    min-height: 600px !important;
    max-height: max-content !important;
    gap: 100px;
    
    
  }
  
  .nav-toggle {
    display: flex;
    margin-right: 15px;
  }
} */


/* NAVBAR WRAPPER */
.navbar {
  max-width: 100dvw !important;
  padding: 15px 30px;
  background: white;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* CONTAINER */
.navbar-container {
    max-width: 1280px;
    margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.navbar-logo {
  height: 45px;
}

/* NAV MENU */
.nav-links {
  margin-right: 40px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-links li a {
  text-decoration: none;
  font-size: 16px;
  color: #111;
  transition: 0.3s ease;
}

.nav-links li a.active {
  color: red;
  font-weight: 600;
}


.nav-links li a:hover {
  color: red;
}


.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background: #111;
  border-radius: 3px;
}


@media (max-width: 850px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: white;
    width: 200px;
    height: auto;
    flex-direction: column;
    padding: 20px 0;
    gap: 15px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    opacity: 0;
    visibility: hidden;
    transform: translateX(50px);
    transition: 0.3s ease;
  }

  
  .nav-links.open {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  .hamburger {
    display: flex;
  }
}
