.p-10{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.partner-grid {
    margin: auto;
    width: 100%;
    max-width: 1280px !important;
display: grid;
grid-template-columns: repeat(auto-fit,  minmax(250px, 1fr));
gap: 24px;
place-items: center;

}
.red{
    color: red;
}

/* @media (min-width: 768px) {
.partner-grid {
grid-template-columns: repeat(5, 1fr);
}
}


@media (min-width: 1024px) {
.partner-grid {
grid-template-columns: repeat(6, 1fr);
}
} */


.partner-grid img {
width: 150px;
height: 75px;
object-fit: contain;
}